<app-app-header [isUserLoggedIn]="true"></app-app-header>
<!-- <p>Category {{allergy.category}}</p>
<p>{{allergy.code.coding[0].display}}</p>
<p> Reaction {{allergy.reaction[0].manifestation[0].coding[0].dsiplay}}</p>
<p>{{allergy.reaction[0].manifestation[1].coding[0].display}}</p>
<p>{{allergy.reaction[0].manifestation[2].coding[0].display}}</p> -->


<mat-card class="example-card">
    <mat-card-header>Allergy</mat-card-header>
    <br><br>
    <mat-card-content>
        <mat-list-item role="listitem"><b>Category: Food</b></mat-list-item>
        <br>
        <mat-list-item role="listitem">Allergy to eggs</mat-list-item>
        <mat-list-item role="listitem">Reaction: Hives,Nausea,Vomitting</mat-list-item>


    </mat-card-content>

</mat-card>
