<app-app-header [isUserLoggedIn]="true"></app-app-header>

<mat-card class="example-card">
    <mat-card-header>Medication</mat-card-header>
    <br><br>
    <mat-card-content>
        <mat-list-item role="listitem"><b>{{medication.identifier[0].system}}-{{medication.identifier[0].value}}</b></mat-list-item>
        <br>
        <mat-list-item role="listitem"><b>Order: </b>{{medication.medicationCodeableConcept.text}}</mat-list-item>
        <br>
        <mat-list-item role="listitem"><b>Organisation: </b>{{organisation.name}}</mat-list-item>
        <br>
        <mat-list-item role="listitem"><b>Organisation Address: </b> <br>
          {{organisation.address[0].line[0]}}
        <br>{{organisation.address[0].city}} {{organisation.address[0].state}}
        <br>{{organisation.address[0].postalCode}}
        </mat-list-item>


    </mat-card-content>

</mat-card>
