<app-app-header [isUserLoggedIn]="true"></app-app-header>
<div class="main-div">
  <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <mat-card class="example-card">
      <mat-card-header>Immunization</mat-card-header>
      <br><br>
      <mat-card-content>
        <mat-list-item role="listitem">{{immunization.vaccineCode.text}}</mat-list-item>



      </mat-card-content>

    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>Suggestions</mat-card-header>
      <br><br>
      <p>Click below link to know more:</p>
      <mat-card-content><a href="https://en.wikipedia.org/wiki/Pneumococcal_conjugate_vaccine">Pneumococcal conjugate
          vaccine</a></mat-card-content>
    </mat-card>
  </div>
</div>
