.example-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 40vh;
  text-align: left;
  margin: auto;
  margin-top: 100px;
}
.mat-card-header{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.main-div{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
